[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
playwright = "==1.41.2"
fastapi = "==0.110.0"
pytz = "==2024.1"
ipykernel = "==6.29.3"
uvicorn = "==0.27.1"

[dev-packages]

[requires]
python_version = "3.10"
