[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
duckdb = "==0.10.0"
numpy = "==1.26.4"
pandas = "==2.2.1"
pyarrow = "==15.0.1"
python-dotenv = "==1.0.1"
pytz = "==2024.1"
requests = "==2.31.0"
selenium = "==4.18.1"
tabulate = "==0.9.0"
webdriver-manager = "==4.0.1"

[dev-packages]

[requires]
python_version = "3.10"
